/* styles.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    position: relative; /* Needed for absolute positioning of links */
}

.nav-links{
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #686868;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
}

.search-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    max-width: 90%;
    height: auto;
}

.search-form {
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack the input and button vertically */
    align-items: center; /* Center the input and button horizontally */
}

.search-input {
    width: 140%;
    max-width: 550px;
    line-height: 22px;
    padding: 10px;
    margin-bottom: 20px; /* Add space between the input and button */
    border-radius: 15px; /* Round the edges of the input box */
    border: 1px solid #ccc; /* Add a border to the input box */
}

.button-container {
    display: flex;
    gap: 10px; /* Add space between the buttons */
}

.search-button, .lucky-button {
    padding: 10px 20px;
    background-color: #f8f9fa;;
    border: 1px solid #f8f9fa;;
    border-radius: 15px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    user-select: none;
    color: #686868;
}

.search-button:hover, .lucky-button:hover {
    border-width: 2px; /* Make the border thicker on hover */
    border-color: #f8f9fa; /* Keep the border color the same */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add depth with shadow */
}

.lower-upper-nav{
    position: fixed;
    bottom: 36px; /* Adjusted to be above the lower nav bar */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #f1f1f1;
    color: #686868;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #d2d2d2; /* Thin border between the nav bars */
    z-index: 1000; /* Ensure it is above other elements */
    padding: 10px 20px;
    margin: 0; /* Remove any margin */
}

.lower-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #f1f1f1;
    padding: 10px 20px;
    margin: 0; /* Remove any margin */
}

.lower-nav-bar{
    display: flex;
    gap: 20px;
}

.lower-nav-bar a{
    text-decoration: none;
    color: #686868;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
}

.form-container {
    max-width: 600px;
    padding: 20px;
    margin: 0; /* Ensure no auto margins */
    text-align: left; /* Align text to the left */
    float: left; /* Ensure the container is aligned to the left */
}
.form-container div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    color: #686868;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
button:hover {
    border-width: 2px; /* Make the border thicker on hover */
    border-color: #f8f9fa; /* Keep the border color the same */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add depth with shadow */
}